<a href="https://colab.research.google.com/github/juanchocor/Estudio/blob/main/Clase_python_ciencia_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install numpy pandas matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
eye_matrix = np.eye(5)
print(eye_matrix)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [4]:
array = np.array([10,20,30,40,50])
print(array[1])
print(array[-1])

20
50

In [5]:
array_c = np.arange(1,10)
split_array = np.split(array,3)
print(array)
print(split_array)

ValueError: array split does not result in an equal division

In [6]:
array_x = np.arange(10)
view_y = array_x[1:3]
print(array_x)
print(view_y)

[0 1 2 3 4 5 6 7 8 9]
[1 2]

Transformación de Arrays

In [7]:
matrix = np.array([[1,2,3],[4,5,6],[7,8,9]])
transpose_matrix = matrix.T
print(matrix)
print(transpose_matrix)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [8]:
array = np.arange(1,13)
reshape_array = array.reshape(3,4)
print(array)
print(reshape_array)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [ ]:
reversed_array = array[::-1]
print(array)
print(reversed_array)

In [ ]:
matrix = np.array([[1,2,3],[4,5,6],[7,8,9]])
flatten_matrix = matrix.flatten()
print(matrix)
print(flatten_matrix)


**Análisis de Ventas Mensuales con NumPy: Transformaciones y Insights**

Usa la librería numpy para crear los siguientes arrays:
meses: un array con los nombres de los meses del año.
ventas_A, ventas_B, ventas_C: arrays que representan las ventas mensuales de tres productos diferentes.
Paso 2: Estadísticas Básicas

Calcula la media y la suma de ventas para los productos A, B y C usando las funciones de NumPy.
Imprime estos valores en el formato siguiente:
Media de ventas Producto A: <valor>
Suma de ventas Producto A: <valor>
Repite para los productos B y C.
Paso 3: Manipulación y Análisis de Datos

Total de ventas por mes: Suma las ventas de los tres productos para cada mes.
Promedio de ventas por producto: Calcula el promedio de ventas por producto.
Mes con mayor y menor ventas: Identifica qué mes tuvo el total de ventas más alto y cuál el más bajo usando las funciones np.argmax y np.argmin.
Paso 4: Operaciones Avanzadas con NumPy

Reshape y Transposición:

Crea una matriz 2D con las ventas de los tres productos y transforma su forma (reshape) a un array tridimensional con dimensiones (3, 4, 3).
Transpone la matriz de ventas para que las filas se conviertan en columnas.
Invertir arrays: Invierte las ventas de cada producto en orden de meses.
Aplanar la matriz: Convierte la matriz de ventas a un array unidimensional.
Paso 5: Análisis de Elementos Únicos

Utiliza np.unique para encontrar los elementos únicos en los datos de ventas y cuenta cuántas veces aparece cada uno.
Paso 6: Indexación y Slicing

Ventas del primer trimestre: Extrae las ventas de los tres primeros meses del año.
Indexación booleana: Selecciona los meses donde el total de ventas de los tres productos supere los 800.
Selección avanzada: Usa una lista de índices para seleccionar las ventas de los meses pares (o selecciona los meses a tu elección) y muestra esas ventas en una nueva matriz.

In [ ]:
meses = np.array(['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                  'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'])

ventas_A = np.array([150, 200, 250, 300, 220, 210, 180, 190, 230, 240, 280, 300])
ventas_B = np.array([180, 210, 230, 250, 270, 260, 240, 250, 270, 290, 310, 330])
ventas_C = np.array([200, 220, 240, 260, 280, 300, 320, 340, 360, 380, 400, 420])

In [ ]:
# Producto A
media_A = np.mean(ventas_A)
suma_A = np.sum(ventas_A)

# Producto B
media_B = np.mean(ventas_B)
suma_B = np.sum(ventas_B)

# Producto C
media_C = np.mean(ventas_C)
suma_C = np.sum(ventas_C)

# Mostrar resultados
print(f"Media de ventas Producto A: {media_A}")
print(f"Suma de ventas Producto A: {suma_A}\n")

print(f"Media de ventas Producto B: {media_B}")
print(f"Suma de ventas Producto B: {suma_B}\n")

print(f"Media de ventas Producto C: {media_C}")
print(f"Suma de ventas Producto C: {suma_C}")

In [ ]:
for i in range(len(meses)):
    print(f"{meses[i]}: {ventas_A[i]} unidades")

Total de ventas por mes.

In [ ]:
total_mensual = ventas_A + ventas_B + ventas_C
print("Total de ventas por mes:\n", total_mensual)

In [ ]:
print(f"Promedio Producto A: {np.mean(ventas_A)}")
print(f"Promedio Producto B: {np.mean(ventas_B)}")
print(f"Promedio Producto C: {np.mean(ventas_C)}")

In [ ]:
indice_max = np.argmax(total_mensual)
indice_min = np.argmin(total_mensual)

print(f"Mes con más ventas: {meses[indice_max]} ({total_mensual[indice_max]} unidades)")
print(f"Mes con menos ventas: {meses[indice_min]} ({total_mensual[indice_min]} unidades)")

In [ ]:
#Crear una matriz 2D con las ventas de los tres productos.
ventas_matriz = np.array([ventas_A, ventas_B, ventas_C])
print("Matriz de ventas (3 productos x 12 meses):\n", ventas_matriz)
print(ventas_matriz.shape)

In [ ]:
ventas_3d = ventas_matriz.reshape(3, 4, 3)
print("Array 3D con shape (3, 4, 3):\n", ventas_3d)
print("Forma:", ventas_3d.shape)

In [ ]:
ventas_transpuesta = ventas_matriz.T
print("Matriz transpuesta (12 meses x 3 productos):\n", ventas_transpuesta)

In [ ]:
ventas_A_inv = ventas_A[::-1]
ventas_B_inv = ventas_B[::-1]
ventas_C_inv = ventas_C[::-1]

print("Ventas A invertidas:\n", ventas_A_inv)
print("Ventas B invertidas:\n", ventas_B_inv)
print("Ventas C invertidas:\n", ventas_C_inv)

In [ ]:
ventas_flat = ventas_matriz.flatten()
print("Array aplanado:\n", ventas_flat)
print("Forma:", ventas_flat.shape)

In [ ]:
elementos_unicos, conteos = np.unique(ventas_flat, return_counts=True)

print("Valores únicos en las ventas:", elementos_unicos)
print("Frecuencia de cada valor:", conteos)

In [ ]:
# Recordá: las posiciones 0, 1 y 2 son Ene, Feb y Mar
ventas_trim_A = ventas_A[:3]
ventas_trim_B = ventas_B[:3]
ventas_trim_C = ventas_C[:3]

print("Ventas Producto A - Primer Trimestre:", ventas_trim_A)
print("Ventas Producto B - Primer Trimestre:", ventas_trim_B)
print("Ventas Producto C - Primer Trimestre:", ventas_trim_C)

In [ ]:
# Crear máscara booleana
mascara = total_mensual > 800

# Filtrar meses y totales
meses_mayores_800 = meses[mascara]
ventas_mayores_800 = total_mensual[mascara]

print("Meses con más de 800 ventas totales:", meses_mayores_800)
print("Ventas totales en esos meses:", ventas_mayores_800)

In [ ]:
# Índices de meses pares: 1, 3, 5, 7, 9, 11
indices_pares = [1, 3, 5, 7, 9, 11]

ventas_A_pares = ventas_A[indices_pares]
ventas_B_pares = ventas_B[indices_pares]
ventas_C_pares = ventas_C[indices_pares]
meses_pares = meses[indices_pares]

print("Meses pares:", meses_pares)
print("Ventas A en meses pares:", ventas_A_pares)
print("Ventas B en meses pares:", ventas_B_pares)
print("Ventas C en meses pares:", ventas_C_pares)

Calculos Matriciales

In [ ]:
A = np.array([[1,2],[3,4]])
B = np.array([[5,6],[7,8]])

#suma
suma = A + B
print(suma)

In [ ]:
#Multiplicación
product = np.dot(A,B)
print(product)

In [ ]:
A = np.array([[1,2],[3,4]])
det_A = np.linalg.det(A)
inv_A = np.linalg.inv(A)
print(A)
print(inv_A)
print(det_A)

In [ ]:
#Resolver Ax = b
A = np.array([[2,1,-2],[3,0,1],[1,1,-1]])
b = np.array([8,-3,-2])
x = np.linalg.solve(A,b)
print(x)

# Pandas: Dataset

In [18]:
import pandas as pd

path = '/Online_Retail.csv'
# Attempt to read the CSV with 'latin-1' encoding
retail_data = pd.read_csv(path, encoding='latin-1')

#leer como excel
#data_axcel = pd.read_excel(path)

#Leer como Json
#data_json = pd.read_json(paht)

#print(type(retail_data))
print(retail_data)

FileNotFoundError: [Errno 2] No such file or directory: '/Online_Retail.csv'

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
!ls /content/drive/MyDrive

'$perrostamaño = [.gdoc'
 actividad-clase-14-dashboard_5430a754-3a69-43ca-a854-598b5b5959a7.xlsx
 actividad-clase-4-combinar-base-de-datos_3c11230f-4353-48b1-ad07-6c68fa180282.xlsx
'Actividad Clase 7. Extraer texto.xlsx'
'agencia de arrendamiento'
 Algoritmos.pdf
'# año actual (Ejercicio # 1).gdoc'
 api
'API_NY.GDP.MKTP (1).CD_DS2_es_csv_v2_3410892.csv'
 API_NY.GDP.MKTP.CD_DS2_es_csv_v2_3410892.csv
 base-de-datos_0d507cac-be65-4db6-93dc-bbe501c5f6bf.gsheet
 base-de-datos_0d507cac-be65-4db6-93dc-bbe501c5f6bf.xlsx
'Base de datos(aerolinea).sql'
 blog2
 catalog_products.csv
'cedula juan david cordoba conj. dep. bazar.pdf'
'Colab Notebooks'
 comnsumoserviciospublicos_4a0f0df9-4e84-4b4f-8837-0aab62e7cc1c.xlsx
'Conceptos básicos del diseño de una base Datos.pdf'
 condicionales_fad024b4-1d9a-4547-9bc1-a7343cb1d791.xlsx
'confieso que he vivido (pablo neruda).pdf'
'Copia de Análisis de reconocimiento SEO [Worksheet].xlsx'
 Data.csv
 Datasets
'def encontrar_maximo_minimo(lista_numero.py'
'Diagrama sin título.drawio'
 diccionario.py
'Documento sin título (1).gdoc'
'Documento sin título (2).gdoc'
'Documento sin título (3).gdoc'
'Documento sin título (4).gdoc'
'Documento sin título.gdoc'
'dolar.psc juan'
'ejercici4.psc juan'
'EJERCICIO 2.xlsx'
'ejercicio de agencias de arrendamiento '
 ejercicio_final.psc
 ejercicio-funcion-anidada-indice-coincidir_ff684a0f-95bb-456a-9a22-067b65c4b060.xlsx
 ejercicios.py
'ejercicios sql (almacen).sql'
 ejercicio.xlsx
'ejercico finales.psc'
'Evidencia .pdf'
'Explicacion ListView.xlsx'
'FORMATO DE PEDIDO AL POR MAYOR.xlsx'
 formularios.html
'Fotos santoral'
 game-of-thones-deaths.xlsx
 Google_Sheets_Templates.xlsx
 guia_pseint_2016.pdf
'Hoja de cálculo sin título (1).gsheet'
'Hoja de cálculo sin título.gsheet'
 IMG_0570.CR2
 IMG_0571.CR2
 IMG_0572.CR2
 IMG_0587.CR2
 IMG_0599.CR2
 IMG_0602.CR2
 IMG_0619.CR2
 IMG_0620.CR2
 IMG_1263.CR2
'IMG_1264 (1).CR2'
 IMG_1264.CR2
 infografia.sql
 inspeccionador.7z
 introduccion_colab-2_b57bfddc-9484-4701-a638-64bcb1061ae6.ipynb
 iris_2b6b1f4d-1c15-4a87-967d-06f0a88fbe13.csv
 javaScrip.7z
 juan1.py
'Juan David C (1).7z'
'La gran resiliencia .mov'
 lambda.py
'logicas de programacion..gdoc'
 Metadata_Country_API_NY.GDP.MKTP.CD_DS2_es_csv_v2_3410892.csv
 Metadata_Country.csv
 Metadata_Indicator_API_NY.GDP.MKTP.CD_DS2_es_csv_v2_3410892.csv
 Metadata_Indicator.csv
'metodologias .gdoc'
'Modelo de Growth - Daniela.png'
 MVI_0456.MOV
 MVI_0460.MOV
 MVI_0474.MOV
'NBA Reglas e IA .pdf'
'parcial python.gdoc'
 posicionamiento
 primitivos.png
'PROCEDIMIENTOS ALMACENADOS.pptx'
 proyecto-curso-estadistica-y-probabilidad-platzi_8d566fa5-d029-4297-97e1-c6799b27b73e.xlsx
 python
 query1.sql
'query escuelas.sql'
 recetario.sql
'RECUPERACIÓN DE DATOS SQL 22.pptx'
'Retomando conceptos de SQL.pptx'
 retos-del-curso-de-principios-de-dataviz-para-bi_e3d6aaa0-98ff-45ea-9192-64c2cb99cedb.xlsx
'Sample - Superstore.xls'
'semana 5'
 SMART_Goals_Dashboard.xlsx
'SQLQuery1 (ejercicio).sql'
'SQLQuery23 (1).sql'
 SQLQuery23.sql
 SQLQuery24.sql
 SQLQuery2.sql
 SQLQuerytrabajofinal.sql
 SQLQuerytrabajo.sql
 superstore_09bda538-16bc-4a44-900e-e9aa17815298.xlsm
 tabla.html
 tablas
 Taller
'TALLER 5.xlsx'
'Taller algoritmos.pdf'
'Taller Conjuntos.pdf'
'taller ejercicios javaScrip.gdoc'
'Taller SCRUM - CRUD.pdf'
'teoria FireBase  1 23.docx'
'Teoría Sqlite 2 203.docx'
 texto.txt
 tickets_2021_895cba7c-0a5d-4ae4-9c10-bd35a054bca8.gsheet
 tickets_2021_895cba7c-0a5d-4ae4-9c10-bd35a054bca8.xlsx
 tickets_2022_267875d9-8e59-40fa-bf04-2355569f0cb0.gsheet
 tickets_2022_267875d9-8e59-40fa-bf04-2355569f0cb0.xlsx
 tickets_2023_502009b6-25cf-462f-8ae7-36ed2ca7a869.gsheet
 tickets_2023_502009b6-25cf-462f-8ae7-36ed2ca7a869.xlsx
'TRABAJO DE CRUD JUAN DAVID CORDOBA.xlsx'
 trabajoFinal.zip
 Trabajo final.zip
'Tutorial sobre métodos.pdf'
'ventas-avanzado_93e32346-4e53-41c3-8092-04d7b32303f0 (1).gsheet'
'ventas-avanzado_93e32346-4e53-41c3-8092-04d7b32303f0 (1).xlsx'

In [14]:
!find /content/drive/MyDrive -name "Online_Retail.csv"

/content/drive/MyDrive/Datasets/Online_Retail.csv

In [19]:
import pandas as pd
file_path = '/content/drive/MyDrive/Datasets/Online_Retail.csv'  # cambia esto según la ruta real
# Specify the encoding as 'latin-1' to correctly read the file
sales_data = pd.read_csv(file_path, encoding='latin-1')

print(sales_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

##Estructuras y funciones

In [10]:
#Conocer los nombres de las columnas
columns_names = retail_data.columns
print(columns_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [11]:
num_rows, num_columns = retail_data.shape
print('Numero de filas', num_rows)
print('Numero de columnas', num_columns)

Numero de filas 541909
Numero de columnas 8

In [12]:
daily_sales = retail_data['Quantity']
print(daily_sales)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [13]:
summary = retail_data.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

##Obtener la media

In [14]:
mean_value = daily_sales.mean()
print('La media es', mean_value)

La media es 9.55224954743324

##Obtener Mediana

In [15]:
median_value = daily_sales.median()
print('La mediana es', mean_value)

La mediana es 9.55224954743324

In [16]:
#Sumar
sum_value = daily_sales.sum()
print('La suma total es', mean_value)

La suma total es 9.55224954743324

In [17]:
count_values =  daily_sales.count()
print('La cantidad de valores es', count_values)

La cantidad de valores es 541909

In [18]:
#Metodo head
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

##Manipulación de columnas

In [19]:
#Crear nueva columnas
# Usar la variable 'path' que contiene la ruta correcta al archivo
df = pd.read_csv(path, encoding='latin-1')
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34

In [20]:
df['HighValue'] = df['TotalPrice'] > 16
print(df['HighValue'].head(10))

0    False
1     True
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9     True
Name: HighValue, dtype: bool

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [22]:
#vamos a cambiar la columnas de 'InvoiceDate' a tipo fecha ya que está como una objeto.
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df.info())

/tmp/ipython-input-22-455805193.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [23]:
#aqui aplicamos un 10 % de descuento usando una funcion lambda
df['DiscountedPrice'] = df['UnitPrice'].apply(lambda x: x * 0.9)
print(df.head(3))

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00

   HighValue  DiscountedPrice
0      False            2.295
1       True            3.051
2       True            2.475

In [24]:
def categorize_price(price):
  if price < 50:
    return 'High'
  elif price < 20:
    return 'Medium'
  else:
    return 'low'

df['PriceCategory'] = df['UnitPrice'].apply(categorize_price)
print(df.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom       15.30
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom       25.50
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08

   HighValue  DiscountedPrice PriceCategory
0      False            2.295          High
1       True            3.051          High
2       True            2.475          High
3       True            3.051          High
4       True            3.051          High
5      False            6.885          High
6       True            3.825          High
7      False            1.665          High
8      False            1.665          High
9       True            1.521          High

##Groupby

In [25]:
country_count = df['Country'].value_counts()
print(country_count)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [26]:
country_group = df.groupby('Country')['Quantity'].sum()
print(country_group)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [27]:
country_stats = df.groupby('Country')['UnitPrice'].agg(['mean','sum'])
print(country_stats)

                            mean          sum
Country
Australia               3.220612     4054.750
Austria                 4.243192     1701.520
Bahrain                 4.556316       86.570
Belgium                 3.644335     7540.130
Brazil                  4.456250      142.600
Canada                  6.030331      910.580
Channel Islands         4.932124     3738.550
Cyprus                  6.302363     3920.070
Czech Republic          2.938333       88.150
Denmark                 3.256941     1266.950
EIRE                    5.911077    48447.190
European Community      4.820492      294.050
Finland                 5.448705     3786.850
France                  5.028864    43031.990
Germany                 3.966930    37666.000
Greece                  4.885548      713.290
Hong Kong              42.505208    12241.500
Iceland                 2.644011      481.210
Israel                  3.633131     1079.040
Italy                   4.831121     3879.390
Japan                   2.276145      814.860
Lebanon                 5.387556      242.440
Lithuania               2.841143       99.440
Malta                   5.244173      666.010
Netherlands             2.738317     6492.550
Norway                  6.012026     6529.060
Poland                  4.170880     1422.270
Portugal                8.582976    13037.540
RSA                     4.277586      248.100
Saudi Arabia            2.411000       24.110
Singapore             109.645808    25108.890
Spain                   4.987544    12633.450
Sweden                  3.910887     1806.830
Switzerland             3.403442     6813.690
USA                     2.216426      644.980
United Arab Emirates    3.380735      229.890
United Kingdom          4.532422  2245715.474
Unspecified             2.699574     1204.010

In [28]:
country_stock_group = df.groupby(['Country','StockCode'])['Quantity'].sum()
print(country_stock_group)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [29]:
#quiero obtener el revenue de cada pais
def total_revenue(group):
  return(group['Quantity'] * group['UnitPrice']).sum()

country_per_country = df.groupby('Country').apply(total_revenue)
print(country_per_country)

Country
Australia                137077.270
Austria                   10154.320
Bahrain                     548.400
Belgium                   40910.960
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20086.290
Cyprus                    12946.290
Czech Republic              707.720
Denmark                   18768.140
EIRE                     263276.820
European Community         1291.750
Finland                   22326.740
France                   197403.900
Germany                  221698.210
Greece                     4710.520
Hong Kong                 10117.040
Iceland                    4310.000
Israel                     7907.820
Italy                     16890.510
Japan                     35340.620
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2505.470
Netherlands              284661.540
Norway                    35163.460
Poland                     7213.140
Portugal                  29367.020
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9120.390
Spain                     54774.580
Sweden                    36595.910
Switzerland               56385.350
USA                        1730.920
United Arab Emirates       1902.280
United Kingdom          8187806.364
Unspecified                4749.790
dtype: float64

/tmp/ipython-input-29-83524230.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  country_per_country = df.groupby('Country').apply(total_revenue)

In [30]:
top_3 = country_per_country.sort_values(ascending=False).head(3)
bottom_3 = country_per_country.sort_values().head(3)

print("Top 3 países:\n", top_3)
print("Bottom 3 países:\n", bottom_3)

Top 3 países:
 Country
United Kingdom    8187806.364
Netherlands        284661.540
EIRE               263276.820
dtype: float64
Bottom 3 países:
 Country
Saudi Arabia      131.17
Bahrain           548.40
Czech Republic    707.72
dtype: float64

##Filtrado de datos

In [32]:
#Leer el dataset de ventas desde un archivo csv
# Cambiar la ruta del archivo a '/Online_Retail.csv' o la ruta correcta de 'sales_data.csv'
# Usaremos '/Online_Retail.csv' como ejemplo, asumiendo que existe y 'sales_data.csv' no.
file_path = '/Online_Retail.csv' # or the correct path to 'sales_data.csv'

# Attempt to read the CSV with 'latin-1' encoding as done previously for 'Online_Retail.csv'
# If 'sales_data.csv' uses a different encoding, adjust accordingly.
try:
    sales_data = pd.read_csv(file_path, encoding='latin-1')
except FileNotFoundError:
    print(f"Error: The file {file_path} was not found. Please check the file path.")
    # You might want to exit or handle this error further
    exit() # Example: stop execution if the file isn't found

#Convertir la columna 'InvoiceDate' a tipo de datatime
sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])

#Elimina filas con valores faltantes en elas columnas críticas
sales_data.dropna(subset=['CustomerID','InvoiceNo'], inplace=True)

#Crear una nueva columna 'TotalPrice'
sales_data['TotalPrice'] = sales_data['Quantity'] * sales_data['UnitPrice']

print(sales_data.head())

/tmp/ipython-input-32-4132869901.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [33]:
#Filtrar ventas en el UK
uk_sales = sales_data[sales_data['Country'] == 'United Kingdom']
print(uk_sales.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

In [34]:
high_quantity = sales_data[sales_data['Quantity'] > 10]
print(high_quantity.head())

   InvoiceNo StockCode                      Description  Quantity  \
9     536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26    536370     22728        ALARM CLOCK BAKELIKE PINK        24
27    536370     22727        ALARM CLOCK BAKELIKE RED         24
28    536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29    536370     21724  PANDA AND BUNNIES STICKER SHEET        12

           InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
9  2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08
26 2010-12-01 08:45:00       3.75     12583.0          France       90.00
27 2010-12-01 08:45:00       3.75     12583.0          France       90.00
28 2010-12-01 08:45:00       3.75     12583.0          France       45.00
29 2010-12-01 08:45:00       0.85     12583.0          France       10.20

In [35]:
uk_high_quantity_sales = sales_data[(sales_data['Country'] == 'United Kingdom') & (sales_data['Quantity'] > 10)]
print(uk_high_quantity_sales.head())

   InvoiceNo StockCode                        Description  Quantity  \
9     536367     84879      ASSORTED COLOUR BIRD ORNAMENT        32
46    536371     22086    PAPER CHAIN KIT 50'S CHRISTMAS         80
65    536374     21258         VICTORIAN SEWING BOX LARGE        32
82    536376     22114  HOT WATER BOTTLE TEA AND SYMPATHY        48
83    536376     21733   RED HANGING HEART T-LIGHT HOLDER        64

           InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
9  2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08
46 2010-12-01 09:00:00       2.55     13748.0  United Kingdom      204.00
65 2010-12-01 09:09:00      10.95     15100.0  United Kingdom      350.40
82 2010-12-01 09:32:00       3.45     15291.0  United Kingdom      165.60
83 2010-12-01 09:32:00       2.55     15291.0  United Kingdom      163.20

In [37]:
#Filtracion de ventas del año 2011
sales_2011 = sales_data[sales_data['InvoiceDate'].dt.year == 2011]
print(sales_2011)

       InvoiceNo StockCode                      Description  Quantity  \
42481     539993     22386          JUMBO BAG PINK POLKADOT        10
42482     539993     21499               BLUE POLKADOT WRAP        25
42483     539993     21498              RED RETROSPOT WRAP         25
42484     539993     22379         RECYCLING BAG RETROSPOT          5
42485     539993     20718        RED RETROSPOT SHOPPER BAG        10
...          ...       ...                              ...       ...
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
42481  2011-01-04 10:00:00       1.95     13313.0  United Kingdom       19.50
42482  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42483  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42484  2011-01-04 10:00:00       2.10     13313.0  United Kingdom       10.50
42485  2011-01-04 10:00:00       1.25     13313.0  United Kingdom       12.50
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[379979 rows x 9 columns]

In [38]:
sales_2010 = sales_data[sales_data['InvoiceDate'].dt.year == 2010]
print(sales_2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42448    539988     84380    SET OF 3 BUTTERFLY COOKIE CUTTERS         1
42449    539988    84849D                HOT BATHS SOAP HOLDER         1
42450    539988    84849B               FAIRY SOAP SOAP HOLDER         1
42451    539988     22854          CREAM SWEETHEART EGG HOLDER         2
42452    539988    47559B                  TEA TIME OVEN GLOVE         2

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42448 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        1.25
42449 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42450 2010-12-23 16:06:00       1.69     18116.0  United Kingdom        1.69
42451 2010-12-23 16:06:00       4.95     18116.0  United Kingdom        9.90
42452 2010-12-23 16:06:00       1.25     18116.0  United Kingdom        2.50

[26850 rows x 9 columns]

In [41]:
#vamos a filtrarlo por año y por mes
sales_2011 = sales_data[(sales_data['InvoiceDate'].dt.year == 2011) &
                              (sales_data['InvoiceDate'].dt.month == 12)]
print(sales_2011)
#

       InvoiceNo StockCode                         Description  Quantity  \
516384   C579889     23245          SET OF 3 REGENCY CAKE TINS        -8
516385   C579890     84947   ANTIQUE SILVER TEA GLASS ENGRAVED        -1
516386   C579890     23374             RED SPOT PAPER GIFT BAG        -1
516387   C579890     84945  MULTI COLOUR SILVER T-LIGHT HOLDER        -2
516388   C579891     23485       BOTANICAL GARDENS WALL CLOCK         -1
...          ...       ...                                 ...       ...
541904    581587     22613         PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899        CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254       CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255     CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138       BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
516384 2011-12-01 08:12:00       4.15     13853.0  United Kingdom      -33.20
516385 2011-12-01 08:14:00       1.25     15197.0  United Kingdom       -1.25
516386 2011-12-01 08:14:00       0.82     15197.0  United Kingdom       -0.82
516387 2011-12-01 08:14:00       0.85     15197.0  United Kingdom       -1.70
516388 2011-12-01 08:18:00      25.00     13644.0  United Kingdom      -25.00
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

[17661 rows x 9 columns]

##Pivot Table y Reshape

In [42]:
pivot_table = pd.pivot_table(sales_data,
                             values='Quantity',
                             index='Country',
                             columns='StockCode',
                             aggfunc='sum')
print(pivot_table)

StockCode             10002  10080  10120  10123C  10124A  10124G  10125  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN    NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN    NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN    NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN    NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
France                372.0    NaN   10.0     NaN     NaN     NaN  470.0
Germany                 1.0    NaN    NaN     NaN     NaN     NaN  120.0
Greece                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN    NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN    NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN    NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN    NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN    NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN    NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN    NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN    NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN    NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN   20.0
USA                     NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN    NaN
United Kingdom        401.0  291.0  183.0     5.0    16.0    17.0  616.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN    NaN

StockCode              10133   10135  11001  ...  90214Y  90214Z  \
Country                                      ...
Australia                NaN     NaN    NaN  ...     NaN     NaN
Austria                  NaN     NaN    NaN  ...     NaN     NaN
Bahrain                  NaN     NaN    NaN  ...     NaN     NaN
Belgium                  NaN     NaN    NaN  ...     NaN     NaN
Brazil                   NaN     NaN    NaN  ...     NaN     NaN
Canada                  40.0    20.0    NaN  ...     NaN     NaN
Channel Islands          NaN     NaN    NaN  ...     NaN     NaN
Cyprus                   NaN     NaN    NaN  ...     NaN     NaN
Czech Republic           NaN     NaN    NaN  ...     NaN     NaN
Denmark                  NaN     NaN    NaN  ...     NaN     NaN
EIRE                    40.0    60.0   48.0  ...     NaN     NaN
European Community       NaN     NaN    NaN  ...     NaN     NaN
Finland                  NaN     NaN    NaN  ...     NaN     NaN
France                   NaN    10.0   16.0  ...     NaN     NaN
Germany                  NaN   200.0   32.0  ...     NaN     NaN
Greece                   NaN     NaN    NaN  ...     NaN     NaN
Iceland                  NaN     NaN    NaN  ...     NaN     NaN
Israel                  20.0     NaN    NaN  ...     NaN     NaN
Italy                    NaN     NaN    NaN  ...     NaN     NaN
Japan                    NaN     NaN    NaN  ...     NaN     NaN
Lebanon                  NaN     NaN    NaN  ...     NaN     NaN
Lithuania                NaN     NaN    NaN  ...     NaN     NaN
Malta                    NaN     NaN    NaN  ...     NaN     NaN
Netherlands              NaN     NaN    NaN  ...     NaN     NaN
Norway                   NaN    10.0   16.0  ...     NaN     NaN
Poland                   NaN     NaN    NaN  ...     NaN     NaN
Portugal                20.0     NaN   16.0  ...     NaN     NaN
RSA                      NaN     NaN    NaN  ...     NaN     NaN
Saudi Arabia             NaN     NaN    NaN  ...     NaN     NaN
Singapore                NaN     NaN    NaN  ...     NaN     NaN
Spain                    NaN     NaN   16.0  ...     NaN     NaN
Sweden                   NaN     NaN    NaN  ...     NaN     NaN
Switzerland             10.0     NaN    NaN  ...     NaN     NaN
USA                      NaN     NaN    NaN  ...     NaN     NaN
United Arab Emirates     NaN     NaN    NaN  ...     NaN     NaN
United Kingdom        2244.0  1637.0  923.0  ...    61.0    12.0
Unspecified              NaN     NaN    NaN  ...     NaN     NaN

StockCode             BANK CHARGES    C2  CRUK       D   DOT       M  PADS  \
Country
Australia                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Austria                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Bahrain                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Belgium                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Brazil                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Canada                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Channel Islands                NaN   3.0   NaN     NaN   NaN     0.0   NaN
Cyprus                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Czech Republic                 NaN   NaN   NaN     NaN   NaN     NaN   NaN
Denmark                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
EIRE                           NaN  97.0   NaN    -1.0   NaN    -1.0   NaN
European Community             NaN   NaN   NaN     NaN   NaN     NaN   NaN
Finland                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
France                         NaN   3.0   NaN     NaN   NaN   -16.0   NaN
Germany                        NaN   NaN   NaN     NaN   NaN     2.0   NaN
Greece                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Iceland                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Israel                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Italy                          NaN   NaN   NaN    -1.0   NaN    -1.0   NaN
Japan                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Lebanon                        NaN   NaN   NaN     NaN   NaN     NaN   NaN
Lithuania                      NaN   NaN   NaN     NaN   NaN     NaN   NaN
Malta                          NaN   NaN   NaN     NaN   NaN     NaN   NaN
Netherlands                    NaN   NaN   NaN    -1.0   NaN  -480.0   NaN
Norway                         NaN   NaN   NaN     NaN   NaN     0.0   NaN
Poland                         NaN   NaN   NaN     NaN   NaN     NaN   NaN
Portugal                       NaN   NaN   NaN     NaN   NaN     1.0   NaN
RSA                            NaN   NaN   NaN     NaN   NaN     1.0   NaN
Saudi Arabia                   NaN   NaN   NaN     NaN   NaN     NaN   NaN
Singapore                      NaN   NaN   NaN     NaN   NaN     0.0   NaN
Spain                          NaN   NaN   NaN     NaN   NaN    -3.0   NaN
Sweden                         NaN   NaN   NaN     NaN   NaN     1.0   NaN
Switzerland                    NaN   NaN   NaN     NaN   NaN     NaN   NaN
USA                            NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Arab Emirates           NaN   NaN   NaN     NaN   NaN     NaN   NaN
United Kingdom                12.0  30.0 -16.0 -1191.0  16.0  3681.0   4.0
Unspecified                    NaN   NaN   NaN     NaN   NaN     NaN   NaN

StockCode               POST
Country
Australia                0.0
Austria                 37.0
Bahrain                  NaN
Belgium                272.0
Brazil                   NaN
Canada                   1.0
Channel Islands          NaN
Cyprus                   1.0
Czech Republic           0.0
Denmark                 41.0
EIRE                     NaN
European Community       9.0
Finland                 89.0
France                 803.0
Germany               1104.0
Greece                   6.0
Iceland                  NaN
Israel                   NaN
Italy                   44.0
Japan                    NaN
Lebanon                  NaN
Lithuania                NaN
Malta                   10.0
Netherlands             99.0
Norway                  57.0
Poland                   9.0
Portugal                97.0
RSA                      NaN
Saudi Arabia             NaN
Singapore                NaN
Spain                  209.0
Sweden                  37.0
Switzerland             97.0
USA                      NaN
United Arab Emirates     1.0
United Kingdom         -21.0
Unspecified              NaN

[37 rows x 3684 columns]

In [21]:
import pandas as pd
file_path = '/content/drive/MyDrive/Datasets/Online_Retail.csv'
df = pd.read_csv(file_path, encoding='latin-1')
sales_data = pd.read_csv(file_path, encoding='latin-1')

print('Primeras filas del dataset original:')
sales_data.head()

Primeras filas del dataset original:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [23]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
print(df.info())

/tmp/ipython-input-23-2039505940.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

In [24]:
df.dropna(subset=['InvoiceDate'], inplace=True)

In [26]:
df.set_index('InvoiceDate', inplace=True)

In [28]:
df['Year'] = df.index.year
df['Month'] = df.index.month
df['Day'] = df.index.day
df['WeekDy'] = df.index.weekday
df['Hour'] = df.index.hour


print(df['Year'])
print(df['Month'])
print(df['Day'])
print(df['WeekDy'])
print(df['Hour'])

InvoiceDate
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
                       ...
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
Name: Year, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
                       ..
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
Name: Month, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
                      ..
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
2011-12-09 12:50:00    9
Name: Day, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
2010-12-01 08:26:00    2
                      ..
2011-12-09 12:50:00    4
2011-12-09 12:50:00    4
2011-12-09 12:50:00    4
2011-12-09 12:50:00    4
2011-12-09 12:50:00    4
Name: WeekDy, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
                       ..
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
Name: Hour, Length: 541909, dtype: int32

In [29]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,WeekDy,Hour
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,12,9,4,12

In [30]:
df = df.drop(columns=['WeekDy'])

In [31]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour
InvoiceDate,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,12,9,12
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,12,9,12
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,12,9,12
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,12,9,12
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,12,9,12

In [32]:
df['WeekDay'] = df.index.weekday

In [33]:
df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,WeekDay
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,12,9,12,4
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,12,9,12,4

In [35]:
df_2011 = df.loc['2011']
df_2011.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,WeekDay
InvoiceDate,,,,,,,,,,,,
2011-01-04 10:00:00,539993,22386,JUMBO BAG PINK POLKADOT,10,1.95,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,21499,BLUE POLKADOT WRAP,25,0.42,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,21498,RED RETROSPOT WRAP,25,0.42,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,22379,RECYCLING BAG RETROSPOT,5,2.10,13313.0,United Kingdom,2011,1,4,10,1
2011-01-04 10:00:00,539993,20718,RED RETROSPOT SHOPPER BAG,10,1.25,13313.0,United Kingdom,2011,1,4,10,1

In [36]:
#extraer info con el año y el mes
df_2011 = df.loc['2011-12']
df_2011.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,WeekDay
InvoiceDate,,,,,,,,,,,,
2011-12-01 08:12:00,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,4.15,13853.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,1.25,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,23374,RED SPOT PAPER GIFT BAG,-1,0.82,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,0.85,15197.0,United Kingdom,2011,12,1,8,3
2011-12-01 08:18:00,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,25.00,13644.0,United Kingdom,2011,12,1,8,3

In [37]:
#Informacion con rango de fechas para extraes piezas de información.
df_dec_range = df.loc['2010-12-01':'2010-12-01']
df_dec_range.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Hour,WeekDay
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,8,2

In [38]:
date_range_new = pd.date_range(start='2024-01-01', end='2024-12-31', freq='D')

In [40]:
df_dates = pd.DataFrame(date_range_new, columns=['Date'])
df_dates.head()

        Date
0 2024-01-01
1 2024-01-02
2 2024-01-03
3 2024-01-04
4 2024-01-05